[Unit]
Description=Fan Service
After=meadiacenter.service

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/python /home/pi/UTBM_TZ20/script/external_devices/fan.py

[Install]
WantedBy=multi-user.target
